[Unit]
Description=PM5000s Service Daemon logging measured results

[Service]
Type=simple
ExecStart=pm5000sd /dev/%i /etc/pm5000s/logs
Restart=on-failure

[Install]
WantedBy=multi-user.target
